{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>contact List Page</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>contact List</li>
          </ol>
        </div>
      </div>
</section><!-- End Breadcrumbs Section -->
<br>


{% if not contact %}
    <div>No contact Here! </div>
{% else %}
<table class="table" style="width:100%">
    <thead>
        <tr>
            <th>S. No.</th>
            <th>Subject</th>
            <th>Email</th>
            <th>Name</th>

            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contact %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th>
                    {{ contact.subject }}
                </th>
                <th>
                    {{ contact.email }}
                </th>
                <th>
                    {{ contact.name }}
                </th>
                <th>
                    {{ contact.message }}
                </th>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if contact.has_other_pages %}
    <nav aria-label="event-pagination" id="pagination">
        <ul class="pagination">
            {% if contact.has_previous %}
                <li class="page-item"><a href="?page={{ contact.previous_page_number }}" class="page-link">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled" ><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in contact.paginator.page_range %}
                {% if contact.number == i %}
                 <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if contact.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ contact.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endif %}

{% endblock content %}
