</html>{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
 <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Vehicle Delete Page</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Vehicle</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->
    <br>
<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Delete Vehicle ID ###{{ vehicle.id }}</span>
            <hr>
          <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
               <h2 align="center"> Are you sure you want to delete? <strong>{{ vehicle.car_name }}</strong> ?</h2>
            </div>
              <button type="submit" class="btn btn-danger">Delete</button>
             <th colspan="2"><a  class="btn btn-primary" href="{% url 'vehicle_list' %}">Back Vehicle List</a></th>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}