{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
    <section id="doctors" class="doctors">
      <div class="container">
        <div class="section-title">
          <h2>Vehicle</h2>
        </div>
          <form method="get">
                 <div class="well">
                     <div class="row">
                         <div class="form-group col-sm-4 col-md-3">
                             {{ MyFilter.form.car_name.label_tag }}
                             {% render_field MyFilter.form.car_name class="form-control" %}
                         </div>
                         <div class="form-group col-sm-4 col-md-3">
                             {{ MyFilter.form.model_number.label_tag }}
                             {% render_field MyFilter.form.model_number class="form-control" %}
                         </div>
                         <div class="form-group col-sm-4 col-md-3">
                             {{ MyFilter.form.vehicle_type.label_tag }}
                             {% render_field MyFilter.form.vehicle_type class="form-control" %}
                         </div>
                         <div class="form-group col-sm-4 col-md-3">
                             <br>
                             <button type="submit" class="btn btn-primary">
                                 <span class="glyphicon glyphicon-search"></span> Search
                             </button>
                         </div>
                     </div>
                 </div>
             </form>
          <br>
        <div class="row">

            {% if not vehicle %}
                <h1>No Vehicle Here </h1>
            {% else %}
                {% for vehicle in vehicle %}
                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start">
                              <div class="pic">
                                  <a href="{% url 'vehicle_details' vehicle.id %}">
                                    <img src="{{ vehicle.image.url }}" class="img-fluid" alt="" height="200" width="200">
                                  </a>
                              </div>

                              <div class="member-info">
                                    <h4>
                                        <a href="{% url 'vehicle_details' vehicle.id %}">
                                            {{ vehicle.car_name }}
                                        </a>
                                    </h4>
                                    <p> Owner Name : {{ vehicle.car_owner }}</p>
                                    <p>Model Number : {{ vehicle.model_number }}</p>
                                    <p>Car Type : {{ vehicle.vehicle_type }}</p>
                                    <p>Per KM Price : {{ vehicle.price }} Taka</p>
                                    <p>
                                   <a href="{% url 'customer_booking_reservation' vehicle.id %}" class="btn btn-primary">Reservation</a>
                                </p>
                              </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
    </section>


{% endblock content %}